@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: hotpink;
}

.picture {
  width: 200px;
  height: 200px;
  background-image: url(https://source.unsplash.com/random/200x200);
}

.circle {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 5px aquamarine solid;
  border-radius: 50%;
}

.text {
  background: steelblue;
  text-align: center;
  color: white;
  padding: 20px;
}

.hidden {
  display: none;
}

.active {
  background: hotpink;
}
